@import '../common/styles/base';

.a-sport-switcher {
    height: $sport-switch-height;

    background-color: $sport-switch-bg;

    &__items {
        height: $sport-switch-container-height;

        background-color: $sport-switch-container-bg;
    }

    &__selected-item {
        display: flex;
        align-items: center;

        padding: $sport-switch-selected-item-header-padding 0 $sport-switch-selected-item-header-padding $sport-switch-selected-item-header-padding;
        height: $sport-switch-selected-item-header-height;

        text-transform: uppercase;

        color: $sport-switch-selected-item-header-text-color;
        background-color: $sport-switch-selected-item-header-bg;

        font-family: $font-secondary;
        font-size: $sport-switch-selected-item-header-text-size;
        font-weight: 500;
    }

    &__btn-expand {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 4px;
        margin-left: auto;
        width: $sport-switch-btn-collapse-width;
        height: $sport-switch-btn-collapse-height;

        transition: all $common-transition;

        color: $sport-switch-btn-collapse-color;

        font-size: $sport-switch-btn-collapse-size;

        &:hover {
            cursor: pointer;
        }

        &_active {
            transform: rotate(180deg);
        }
    }
}
