@import '../common/styles/base';

.a-dropdown-twin-select {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: row;

    width: $dropdown-twin-select-width;
    height: $dropdown-twin-select-height;

    letter-spacing: $dropdown-twin-select-text-letter-spacing;

    border-radius: $dropdown-twin-select-border-radius;
    background-color: $dropdown-twin-select-bg;

    font-size: $dropdown-twin-select-text-size;

    &:hover {
        cursor: pointer;
    }

    &__btn-open {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;

        width: $dropdown-twin-select-btn-open-width;
        height: 100%;

        color: $dropdown-twin-select-btn-open-color;
        border-top-right-radius: $dropdown-twin-select-border-radius;
        border-bottom-right-radius: $dropdown-twin-select-border-radius;
        background-color: $dropdown-twin-select-btn-open-bg;

        font-size: $dropdown-twin-select-btn-open-size;

        .a-vip-icon {
            transition: all $common-transition;
            transform: rotate(0);
        }

        &_active {
            .a-vip-icon {
                transform: rotate(180deg);
            }
        }
    }

    &__current-option {
        display: flex;
        align-items: center;

        width: 100%;
        height: 100%;
    }

    &__option {
        padding-right: $dropdown-twin-select-option-pr;
    }

    &__options {
        position: absolute;
        z-index: 1;
        top: $dropdown-twin-select-options-position-top;
        left: 0;

        display: flex;
        overflow: hidden;
        flex-direction: column;

        width: 100%;
        max-height: 0;

        transition: max-height $common-transition;

        border-radius: $dropdown-twin-select-border-radius;
        background: $dropdown-twin-select-options-bg;

        &_opened {
            max-height: 200px;
        }
    }

    &__option {
        display: flex;
        align-items: center;

        height: $dropdown-twin-select-option-height;

        &:hover,
        &_selected {
            background-color: $dropdown-twin-select-option-hover-bg;
        }
    }

    &__title {
        margin-left: $dropdown-twin-select-text-horizontal-margin;

        color: $dropdown-twin-select-title-color;

        @media (min-width: $screen-lg-min) {
            margin-left: $dropdown-twin-select-text-horizontal-margin-lg;
        }
    }

    &__value {
        margin-right: $dropdown-twin-select-text-horizontal-margin;
        margin-left: auto;

        color: $dropdown-twin-select-value-color;

        @media (min-width: $screen-lg-min) {
            margin-right: $dropdown-twin-select-text-horizontal-margin-lg;
        }
    }

    &_type_no-line {
        pointer-events: none;

        &:hover {
            cursor: default;
        }

        .a-dropdown-twin-select__title {
            position: absolute;
            left: 50%;

            margin-left: 0;

            transform: translateX(-50%);
            letter-spacing: $dropdown-twin-select-no-line-letter-spacing;

            color: $dropdown-twin-select-no-line-text-color;

            font-family: $font-secondary;
            font-size: $dropdown-twin-select-no-line-text-size;
            font-weight: 500;
        }

        .a-dropdown-twin-select__btn-open {
            color: #717e91;
            background-color: #3a4250; // $dropdown-twin-select-bg;
        }
    }
}
